main * {
    box-sizing: border-box;
}
main {
    margin: 0 0.5em;
}

.wrap-3tabs {
    display: flex;
    justify-content: space-between;
}
.wrap-2tabs {
    width: calc(200% / 3);
    display: flex;
    justify-content: space-between;
}
.wrap-tab {
    width: calc(100% / 3);
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}
.wrap-2tabs .wrap-tab {
    width: calc(100% / 2);
}

.tab-label {
    display: block;
    padding: 0.5rem 0 0 0.5rem;
    width: fit-content;
}
.tab-title {
    width: fit-content;
    padding: 0 0.25rem;
}
.tab-title h2 {
    font-size: large;
    font-weight: bold;
}

.tab-switch {
    display: none;
}

/* tree */
.wrap-tree {
    /* border: solid 1px #000; */

    padding: 0.5rem;
}
.wrap-canvas {
    box-sizing: border-box;
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

canvas {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 480px) {
    /* 480px以下に適用されるCSS（スマホ用） */
    :root {
        --side-margin: 0.5em;
        --tab-label-height: 2.2em;
    }
    main {
        margin: 0 var(--side-margin);
    }
    .wrap-tab {
        border: none;
    }
    .wrap-3tabs {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .wrap-2tabs {
        display: flex;
        justify-content: flex-start;
        position: relative;
        width: 100%;
    }
    .wrap-2tabs .wrap-tab {
        width: auto;
    }
    .tab-dummy-content {
        display: block;
        width: 1px;
        height: calc(100vw - 2 * var(--side-margin));
    }
    .wrap-2tabs > .wrap-tab > .tab-content {
        position: absolute;
        top: var(--tab-label-height);
        left: 0;
        width: 100%;
    }

    .wrap-tab {
        width: 100%;
    }
    .tab-label {
        width: fit-content;
        height: var(--tab-label-height);
        overflow: hidden;
        position: relative;
        z-index: 1;
    }
    .tab-content {
        border-top: solid 0px black;
        position: relative;
        z-index: 2;
    }
    .tab-content::before {
        content: '';
        display: block;
        background-color: black;
        width: 100%;
        height: 2px;
        position: absolute;
        top: -2px;
    }
    .tab-title {
        border-radius: 0.25rem 0.25rem 0 0;
        border: solid 2px #000;
        border-bottom: none;
        background-color: #aaa;
        position: relative;
    }

    /* tab switch */
    .wrap-2tabs .tab-content {
        opacity: 0;
    }

    .tab-switch:checked + .tab-label {
        z-index: 3;
    }
    .tab-switch:checked + .tab-label .tab-title {
        background: #fff;
    }
    .tab-switch:checked + .tab-label + .tab-content {
        height: auto;
        opacity: 1;
    }
}
