/* open close system */
.sel-switch {
    display: none;
}
.wrap-my-options {
    height: 0;
    overflow: hidden;
}
.sel-label > .icon > i:last-child {
    display: none;
}
.sel-switch:checked + .sel-label > .icon > i:first-child {
    display: none;
}
.sel-switch:checked + .sel-label > .icon > i:last-child {
    display: block;
}

.sel-switch:checked + .sel-label + .wrap-my-options {
    height: auto;
    overflow: visible;
    opacity: 1;
}

/* radio select system */
.my-option-radio {
    display: none;
}
.my-option-radio:checked + label {
    border: solid red 3px;
}

/* style */
.my-select {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    margin: 0.7em 0;
}
.sel-label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.wrap-my-options {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    justify-items: left;
    align-items: flex-start;
    flex-wrap: wrap;
}

.my-option {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.5em;

    width: calc(100% / 3 - 0.6em);
    margin-top: 0.4em;
    margin-left: calc(0.6em * 3 / 4); /* 0.6em * 3elm / 4space */
}
.my-option:hover {
    border: solid red 1px;
}

.my-option:last-child {
    margin-bottom: 0.4em;
}
